<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connection" connectionString="Server=usasqllogistics.interlink-intranet.net;Database=DB_ORION;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
		<add name="connection2" connectionString="Server=usasqllogistics.interlink-intranet.net;Database=DB_ORION;Trusted_Connection=True;" />
	</connectionStrings>
</configuration>