<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<!--Specify Connection Strings-->
  <connectionStrings>
    <add name="TrainingEntities" connectionString="data source=DESKTOP-V642KKE;initial catalog=DB_ACCOUNTING;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="DB_ACCOUNTINGEntities" connectionString="metadata=res://*/EF_Estimates.VesselEntities.csdl|res://*/EF_Estimates.VesselEntities.ssdl|res://*/EF_Estimates.VesselEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-V642KKE;initial catalog=DB_ACCOUNTING;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="VesselListEntities2" connectionString="data source=DESKTOP-V642KKE;initial catalog=DB_ACCOUNTING;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /><add name="VesselEntities" connectionString="data source=DESKTOP-V642KKE;initial catalog=DB_ACCOUNTING;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>