<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--Specify Connection Strings-->
		<add name="SQLTrainingList" connectionString="Data Source=DESKTOP-V642KKE;Initial Catalog=DB_ACCOUNTING;Integrated Security=True" />
		<add name="TrainingEntities" connectionString="data source=DESKTOP-V642KKE;initial catalog=DB_ACCOUNTING;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="VesselEntities" connectionString="data source=DESKTOP-V642KKE;initial catalog=DB_ACCOUNTING;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>